<footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white" style="font-size: 15px;"><b><i class="fa fa-google-wallet" style="font-size:36px;"></i>  CMS PROJECT &#x21DD; Created By RAHUL 2018</b></p>
      </div>
      <!-- /.container -->
    </footer>